* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 20px 100px;
  margin: 20px 100px;
}

#player-moves {
  display: flex;
  justify-content: space-around;
}

#rock,
#paper,
#scissors {
  cursor: pointer;


  transition: all 125ms;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  scale: 1.2;
}