* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 20px 100px;
  margin: 20px 300px;
}

.title-centered {
  font-size: 2em;
  text-align: center;
}

#player-moves {
  display: flex;
  justify-content: space-around;
}

#rock,
#paper,
#scissors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;


  transition: all 125ms;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  scale: 1.2;
}